@import '../css/lib';
@import '../top-developers/top-developers.component.less';

.ui-tree {
  border: 1px solid #c8c8c8;
  background-color: red !important;
  color: gainsboro !important;
  padding: 0.571em 1em;
}
