@import '../css/lib';
.people-ticket {
  background-color: white;
  color: #000;
  padding: 15px;
}

.buttons-style {
  margin-right: 10px;
  color: darkgrey;
  border-style: ridge;
 // box-shadow: 4px 5px 5px 0px #181616;
  height: 40px;
  width: 130px;
  font-size: large;
  margin-top: 10px;
}

