; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before ‎9‎/‎12‎/‎2019.
; begin auth token
//pkgs.dev.azure.com/anzio/_packaging/anzio/npm/registry/:username=anzio
//pkgs.dev.azure.com/anzio/_packaging/anzio/npm/registry/:_password=cGsyeTduZXFwNzRnYTZvbHpzYmZzbXdzYnRoeHN1a25rZW9wMmdxcjUzNzZ4NWpzbzRiYQ==
//pkgs.dev.azure.com/anzio/_packaging/anzio/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/anzio/_packaging/anzio/npm/:username=anzio
//pkgs.dev.azure.com/anzio/_packaging/anzio/npm/:_password=cGsyeTduZXFwNzRnYTZvbHpzYmZzbXdzYnRoeHN1a25rZW9wMmdxcjUzNzZ4NWpzbzRiYQ==
//pkgs.dev.azure.com/anzio/_packaging/anzio/npm/:email=npm requires email to be set but doesn't use the value
; end auth token