registry=https://pkgs.dev.azure.com/anzio/_packaging/LabshareFeed4Gator/npm/registry/
always-auth=true
//pkgs.dev.azure.com/anzio/_packaging/labshare/npm/registry/:username=rsarosh
//pkgs.dev.azure.com/anzio/_packaging/labshare/npm/registry/:_password=a3llaWYzc25uNWlzaWZxZDc0dGY0ZGluMmwzYnl3b3R3anc0bm5lNXg2Y2dxbG9ybW5icQ==
//pkgs.dev.azure.com/anzio/_packaging/labshare/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/anzio/_packaging/labshare/npm/:username=rsarosh
//pkgs.dev.azure.com/anzio/_packaging/labshare/npm/:_password=a3llaWYzc25uNWlzaWZxZDc0dGY0ZGluMmwzYnl3b3R3anc0bm5lNXg2Y2dxbG9ybW5icQ==
//pkgs.dev.azure.com/anzio/_packaging/labshare/npm/:email=npm requires email to be set but doesn't use the value
 