; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before ‎9‎/‎12‎/‎2019.
; begin auth token
//pkgs.dev.azure.com/anzio/_packaging/labshare/npm/registry/:username=rsarosh
//pkgs.dev.azure.com/anzio/_packaging/labshare/npm/registry/:_password=MnVvaHJzaXRyM2E2amZtNTNnZXN5c2M0NHJ6ZGl0ZDZnNmhsbTQ1dGN2ZHNzNGx4bXVoYQ==
//pkgs.dev.azure.com/anzio/_packaging/labshare/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/anzio/_packaging/labshare/npm/:username=rsarosh
//pkgs.dev.azure.com/anzio/_packaging/labshare/npm/:_password=MnVvaHJzaXRyM2E2amZtNTNnZXN5c2M0NHJ6ZGl0ZDZnNmhsbTQ1dGN2ZHNzNGx4bXVoYQ==
//pkgs.dev.azure.com/anzio/_packaging/labshare/npm/:email=npm requires email to be set but doesn't use the value
; end auth token