.breakingnews {
  background-color: #262525cc;
  margin-left: 1px;
  display: flex;
  height: 100px;
  width: 100%;
}

.scrollingText {
  color: rgb(205, 18, 238);
  font-size: 20pt;
  margin-top: 15px;
  margin-left: 8px;
}
