@import '../css/lib';

.breakingnews {
  background-color: @top-component-background-color;
  margin-left: 1px;
  display: flex;
  height: 100px;
  width: 100%;
}

.scrollingText {
  font-size: x-large;
  margin-top: 15px;
  margin-left: 8px;
}
