@import '../css/lib';

.breakingnews {
  background-color: @top-component-background-color;
  padding-left: 5px;
  padding-top: 5px;
  line-height: 60%;
  height: @top-banner-height;
  min-width: calc (100vw - @top-component-width);
  max-width: calc (100vw - @top-component-width);
}

.scrollingText {
  font-size: large;
  margin-top: 5px;
  // animation: slide-left 10s ease-in;
}
@keyframes myNEWmove {
  from {
    width: 0px;
  }
  to {
    width: 500px;
    color: palevioletred;
  }
}

@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
