<!-- <div>  </div> -->
<div id="flex-container">
  <!-- <button
    style="width: 30px;
  height: 30px;
  z-index: 1;
  font-size: 20pt;
  align-self: flex-end;
  margin: 0%;
  padding: 0;
  background: transparent;
  border: none;
  color: rgb(18, 108, 212);"
    (click)="closePane()"
  >
    X
  </button> -->

  <div *ngIf="bShowError" style="font-size: medium; color:#9c678f;">
    No User found with name: {{ developerName }} in Jira. <br />
    Ask User to use proper full name in Git and the same name should be in Jira. <br />
    Jira Display Name and Git Name should be same. <br /><br />

    <i>The user should be taken to parking lot and yelled at!!!</i>
  </div>

  <div *ngIf="!bShowError">
    <a href="{{ userLink }}" target="_blank" style="text-decoration: none;">
      <div div class="flex-item" style=" color:rgb(86, 125, 143)">{{ userName }}</div>
    </a>
    <div *ngFor="let dev of devDetails.values(); let i = index" style="margin-bottom:13px">
      <!-- <div style="font-size: large; color:rgb(26, 129, 226);">{{ dev.Login }}</div> -->

      <div style="font-size: large; color:#9c678f;">{{ dev.orgName }} - {{ dev.key }} - {{ dev.State }}: {{ dev.Repo }}</div>

      <div style="display: flex;flex-direction: row;">
        <div style="font-size: large; color: white ">
          <a href="{{ dev.pullrequesturl }}" target="_blank" style="text-decoration: none; color: gainsboro">{{ dev.title }}</a>
        </div>
      </div>
      <div style="font-size: large; color: gainsboro">{{ dev.body | slice: 1:400 }}</div>

      <div style="font-size: large; color: rgb(139, 124, 124)">Created: {{ dev.created_at | date }} Updated: {{ dev.updated | date }}</div>
      <!-- <div style="font-size: large; color: rgb(143, 173, 182)">Updated: {{ dev.updated | date }}</div> -->
      <hr style="width: 90%; color: rgb(29, 27, 27); border-style:solid; " />
    </div>
  </div>
</div>
