@import '../css/lib';

.flex-container {
  display: flex;
  width: 100%;
  background-color: @top-component-background-color;
  height: 100%;
}

.menu {
  width: 55px;
  margin-top: @top-banner-height;
  height: 100%;
  margin-left: 4px;
}

.menu2-button {
  border: 1px;
  color: white;
  padding: 1px;
  text-align: center;
  align-content: center;
  text-decoration: none;
  display: inline-block;
 
  margin: 4px 2px;
  border-radius: 5%;
  width: 45px;
  height: 45px;
  font-size: large;
  outline: none;
  border: none;
}
