<div *ngIf="loggedIn" class="flex-container">
  <div class="menu">
    <a href="home">
      <img src="../../assets/Gator-Logo.png" class="gator-logo" style="width:45px" />
      <!-- <label style="margin-left:8px; color: rgb(97, 85, 96);">Beta</label> -->
    </a>
    <p></p>
    <div *ngFor="let org of orgList; let i = index">
      <button id="m1-btn" [ngStyle]="getMyStyle(org.Org)" (click)="data(org)" class="menu2-button box-shadow" title="{{ org.Org }}">
        {{ org.Org | uppercase | slice: 0:3 }}
      </button>

      <p></p>
    </div>

    <hr style="width: 80%; color: rgb(61, 60, 60); border-style:solid; " />

    <button id="m1-btn" (click)="gotoStatusReports()" class="menu2-button box-shadow" title="Status Reports">
      SR
    </button>

    <button id="m2-btn" (click)="gotoICReports()" class="menu2-button box-shadow" title="Reports">
      R
    </button>

    <button id="m3-btn" (click)="gotoOrg()" class="menu2-button box-shadow" title="Org chart">
      Org
    </button>

    <!-- <button id="m1-btn" onclick="SR" class="menu2-button box-shadow" title="Send Kudos">
      K
    </button>

    <button id="m1-btn" onclick="SR" class="menu2-button box-shadow" title="360 feedback">
      360
    </button> -->

    <hr style="width: 80%; color: rgb(61, 60, 60); border-style:solid; " />

    <!-- <button id="m1-btn" class="menu2-button box-shadow" title="Manage Alert - Comming soon!">
      <img src="../../assets/alert.jpg" class="image-button" />
    </button> -->

    <button id="m1-btn" onclick="window.location.href = 'mailto:rafat@anziosystems.com';" class="menu2-button box-shadow" title="Invite others">
      <img src="../../assets/feedback.png" class="image-button" style="background-color: white;" />
    </button>

    <button id="m1-btn" onclick="window.location.href = 'mailto:rafat@anziosystems.com';" class="menu2-button box-shadow" title="Send Suggestions">
      <img src="../../assets/feedback2.png" class="image-button" style="background-color: white;" />
    </button>

    <button id="m1-btn" onclick="window.open('http://anziosystems.azurewebsites.net/gator.html', '_blank');" class="menu2-button box-shadow" title="Help">
      <img src="../../assets/help.png" class="image-button" style="background-color: white;" />
    </button>

    <button id="m1-btn" (click)="logout()" class="menu2-button box-shadow" title="logout">
      <img src="../../assets/logout.png" class="image-button" style="background-color: white;" />
    </button>

    <hr style="width: 80%; color: rgb(61, 60, 60); border-style:solid; " />

    <button id="m1-btn" (click)="settings()" class="menu2-button box-shadow" style="align-self: flex-end;" title="Settings">
      <img src="../../assets/settings.png" class="image-button" style="background-color: white" />
    </button>
  </div>
</div>
