<div class="Aligner">
  <div> Please wait initializing your account .... First use will take time <br />
  </div>

  <div id="myProgress">
    <div id="myBar"></div>
  </div>

  <div *ngFor= "let message of messages">
    <div style="color: rgba(245, 245, 245, 0.561)"> &#8658; {{message}}</div>
 </div>

 <div *ngFor= "let message of warningMessages">
  <div style="color: orange">&#9785; {{message}}</div>
</div>

<div *ngFor= "let message of successMessages">
  <div style="color: greenyellow"> &#10004; {{message}}</div>
</div>

 <div *ngFor= "let message of errMessages">
  <div style="color: red"> &#10006; {{message}}</div>
</div>


 <p></p>
 
<div *ngFor= "let message of progress">
  <div style="color: rgb(152, 241, 19)"> &#10004; {{message}}</div>
</div>

    <div class="Aligner"> 
        <Button (click) = "dashboard()" class="buttonstyle" [disabled]="buttonDisabled"> Get Started  </Button>

        <!-- <div>

          <P></P>
          How to Manually Install web hook?   
        
         <p style=color:red> NOTE: You have to do this only if you see an error in installing webhooks.</p>  
        
          1.  Goto your organization page on the github <br />
          2.  Navigate to the "Settings" tab. <br />
          3.  Select the "Webhooks" option on the left menu. <br />
          4.  Click "Add Webhook" <br />
          5.  put 'https://gatorgithook.azurewebsites.net/api/httptrigger' in payload URL <br />
          6.  Select "application/json" as the encoding type. <br />
          7.  select radio button 'Let me select individual events.' <br />
          8.  check 'Pull requests' <br />
          9.  click on Add webhook <br />
        
        </div> -->
    </div>
</div>

<!-- <script>
  function move() {
    var elem = document.getElementById("myBar");   
    var width = 1;
    var id = setInterval(frame, 10);
    function frame() {
      if (width >= 100) {
        clearInterval(id);
      } else {
        width++; 
        elem.style.width = width + '%'; 
      }
    }
  }
  </script> -->

