<div class="Aligner">
  <!-- <div>Please take a deep breath ... we are working hard! <br /></div> -->
  <div class="Aligner-items">
    <div id="myProgress">
      <div id="myBar"></div>
    </div>

    <div *ngFor="let message of messages">
      <div style="color: #f5f5f58f">&#8658; {{ message }}</div>
    </div>

    <div *ngFor="let message of warningMessages">
      <div style="color: rgb(168, 125, 44)">&#9785; {{ message }}</div>
    </div>

    <div *ngFor="let message of successMessages">
      <div style="color: rgb(123, 150, 82)">&#10004; {{ message }}</div>
    </div>

    <div *ngFor="let message of errMessages">
      <div style="color: rgb(187, 54, 54)">&#10006; {{ message }}</div>
      <a href="hook-error"> Click here to learn about the error </a>
    </div>

    <p></p>

    <div *ngFor="let message of progress">
      <div style="color: rgb(143, 185, 80)">&#10004; {{ message }}</div>
    </div>
    <div class="Aligner">
      <Button (click)="dashboard()" class="buttonstyle" [disabled]="buttonDisabled"> Get Started </Button>
    </div>
  </div>
</div>
