<div>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://anziosystems.azurewebsites.net/">Anzio <span class="logo-dec">System</span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class=""><a href="home">Home</a></li>
          <li class="active"><a href="about">About</a></li>
          <li class=""><a href="help">Help</a></li>
          <li class=""><a href="contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="banner-info text-center wow fadeIn delay-05s">
      <!-- <div class="gator"></div> -->
      <h2 class="bnr-sub-title">About</h2>
      <div style="justify-items: left;">
        <iframe
          width="300"
          height="200"
          src="https://www.youtube.com/embed/moQz0WyXMDQ"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <p></p>
      <p></p>
      <p class="bnr-para content">
        This is a tool to manage your development team. Nothing more, nothing less. <br />

        This is a tool for senior managers, who would like to keep their hand on the pulse. It is not about the micromanagement but getting the heat map of the team. Knowing what
        is happening on the shop floor. <br />

        The senior manager gets the high-level view, and if needed they can quickly drill down. First level manager, Leads can have a more zoomed-in view. <br />
      </p>
      <h3 class="bnr-para">This tool covers the whole spectrum from first-level managers to senior Director, VP and CTO need.</h3>

      <h3 class="bnr-para bluestyle">
        Second, a big problem solved by this tool is - simplifying status reporting.
      </h3>

      <p class="bnr-para content">
        It is easy to write, add your git PR, Jira Tickets with one click. Every report can be reviewed by managers, rate the work with three checkboxes – Achieved, Exceeded and
        Need Improvement. <br />All the reports are archived and one-click access to all the history within tools, help tremendously with the yearly, half-yearly review process.
        The review process is no more scary time, where managers spend hours preparing for discussion. All the information they need is a click away. Because the manager is forced
        to write their comments and rating every month. Final reviews will have no more surprises.

        <br />

        We are not reinventing the wheel, we are not trying to replace existing awesome tools. We are aggregating information from different tools, for a one glance quick status.
        <br />
        <br />
        Use Dev Star one screen, a quick glance to know:
        <br />

        <li>How many pull request open/closed today, last seven days and last 30 days.</li>
        <li>Monitor multiple organizations Pull Request/Jira Tickets from one screen.</li>
        <li>Monitor multiple developers from one screen.</li>
        <li>Drill down in a Jira tickets for the developer.</li>
        <li>Zero down to one repository to see all the pull request.</li>
        <li>One click to drill down view of Jira and Git.</li>
        <li>Simplyfy Status reporting.</li>
        <li>Easy access to all the historical status reports.</li>
        <li>Watch today's pull request details scrolling on top of the screen</li>
      </p>
      <!-- <div class="brn-btn">
        <a href="dashboard" class="btn btn-more">Get Started</a>
      </div> -->
    </div>

    <br />

    <footer id="footer">
      <div class="row text-center">
        <p>Copyright &copy; 2020 Anzio&nbsp;<span style="color: #E92987;">Systems</span>. All Rights Reserved.</p>
      </div>
    </footer>
  </div>
</div>
