@import '../css/lib';

.flex-column-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 5px;
  justify-content: left;
  background-color: @main-background-color;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px auto;
  margin: 5px;
}

 

.buttons-style {
  margin-right: 10px;
  margin-top: 10px;
  border-style: none;
  box-shadow: 4px 5px 5px 0px #181616;
  height: 40px;
  width: 150px;
  font-size: large;
  color: black;
}
