<div class="flex-column-container">
  <div class="flex-row-container">
    <form class="form-inline">
      <button class="buttons-style" (click)="addDeveloper()" style="background-color: rgb(120, 161, 202);">Add Developer</button>
      <button id="zoomToFit" class="buttons-style" (click)="zoomToFit()">Zoom to Fit</button>
      <button id="centerRoot" class="buttons-style" (click)="centerRoot()">Center on root</button>
      <button class="buttons-style" (click)="load()">Load</button>
      <button id="SaveButton" class="buttons-style" (click)="save()">Save</button>
      <div class="form-group mx-sm-3 mb-2">
        <label for="txtReviewer" style class="sr-only" style="visibility: hidden;">names</label>
        <input
          type="text"
          class="form-control txtReviewer"
          aria-label="Name"
          aria-describedby="basic-addon2"
          name="txtReviewer"
          placeholder="Please use Add Reviewers button to add the correct reviewers. DON'T TYPE."
          [(ngModel)]="textReviewer"
          disabled="true"
          width="500px"
          style="visibility: hidden;"
        />
      </div>
    </form>
  </div>

  <div id="myDiagramDiv" style="background-color: #34343C; border: solid 1px black; height: 100vh;width:100%"></div>
  <div>
    <div id="myInspector"></div>
  </div>
  <div>
    <div>
      <textarea id="mySavedModel" style="width:100%; height:270px;color:black; visibility: hidden;"> {{ model | json }} </textarea>
    </div>
  </div>
</div>
