<div class="Outer">
  <div class="inner">
    <img src="../../assets/Gator-Logo.svg" style="width:150px; height: 150px;" />
  </div>

  <div class="inner" style="color: ghostwhite;  font-size: xx-large">Welcome to Git Gator</div>
  <p></p>
  <p></p>
  <p></p>

  <div class="inner">
    <Button (click)="login()" class="buttonstyle"> Login using Git </Button>
    <p></p>
    <!-- <p>
      <input type="checkbox" value="1" checked="true" name="Refresh" id="Refresh" style="font-size: larger;" (change)="onChange($event.target.checked)" /> &nbsp;
      <label for="Refresh" style="font-size: large; font-weight: normal;"> Refresh everything from Git. Slow.</label>
    </p> -->
  </div>
  <p></p>
</div>
