@import '../css/lib';

.flex-container-Title {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flex-container-Number {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  text-align: center;
}

.flex-item-number {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  display: flex;
}

.flex-item {
  text-align: center;
  font-size: 30px;
  // padding-top: 10px;
  width: 100%;
  height: @top-banner-height;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color:@top-component-background-color;
}
