<div style=" color: white; width:100%;height:100%; display:flex; flex-direction:column; align-content: center">
  <!-- <div name="TopMenu" style="background-color:rgb(39, 120, 202); width:100%;display:flex; flex-direction:row;justify-content: center;"></div> -->
  <div name="wrapper" style="width:100%; height: 100%;  display:flex;flex-direction: row">
    <app-org-list #orgList></app-org-list>
    <div name="contentarea" class="content-area">
      <!-- <sc-top-nav [liftedStateBackground]="state.slice('topNav', 'background')" [liftedStateIconColor]="state.slice('topNav', 'iconColor')"> </sc-top-nav> -->
      <div style="float: left; width: calc(100% - 2px);  max-height: calc(100% - 50px);">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- Content Area-->
  </div>
  <!-- wrapper-->
</div>
