<p-dialog header="Kudos" [(visible)]="display" [style]="{width: '50vw', height: '400px'}" model="true">
  <textarea pInputTextarea [(ngModel)]="kudoesText" style="height: 100%;  min-height: 350px; width: 100%;"></textarea>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="kudoesYes()" label="Yes"></button>
    <button type="button" pButton icon="pi pi-times" (click)="kudoesNo()" label="No" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
<p-dialog header="Kudos" [(visible)]="displayKudos" [style]="{width: '50vw', height: '400px'}" model="true">
  <textarea pInputTextarea [(ngModel)]="kudos" style="height: 90%; min-height: 350px; width: 100%;"></textarea>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="closeKudos()" label="OK"></button>
    <!-- <button type="button" pButton icon="pi pi-times" (click)="kudoesNo()" label="No" class="ui-button-secondary"></button> -->
  </p-footer>
</p-dialog>

<div class="flex-container">
  <div id="container" class="flex-item-header">
    Developers [ <label style="color:plum">{{ gitOrg }} </label> ]
    <br />
    <input type="text" #box (keyup)="filterDev(box.value)" style="color: black" />
    <button (click)="showOD()" class="menu2-button" style="width:45px; height: 28px; background-color: transparent; ">
      <img src="../../assets/org-grey.png" class="gator-logo" style="width:40px; height: 28px; " />
    </button>
    <br />
  </div>
  <hr style="width: 100%; color: rgb(105, 95, 95); border-style:inset;margin-top: 15px; margin-bottom: 5px; " />
  <div *ngFor="let dev of developers" [contextMenu]="basicMenu" [contextMenuSubject]="items">
    <div div class="flex-item">
      <div style="display: flex; direction: row;cursor: pointer;">
        <img
          src="{{ dev.image }}"
          onerror="if (this.src != '../../assets/dev2.png') this.src = '../../assets/dev2.png';"
          style="height:40px; width:40px; margin-right:
        7px; border-radius: 50%; cursor: pointer;"
        />

        <div (click)="GetData(dev)" style="margin-top:8px; cursor: pointer;" [ngStyle]="getMyStyle(dev)" [contextMenu]="basicMenu" [contextMenuSubject]="dev">
          {{ dev.name }}
          <!-- <ul>
            <li *ngFor="let item of items" [contextMenu]="basicMenu" [contextMenuSubject]="item">Right Click: {{item?.name}}</li>
        </ul> -->
          <context-menu class="popup" name="ContextMenu">
            <ng-template class="popup" contextMenuItem (execute)="rightClick($event, 'Kudos', dev)">
              Send Kudos
            </ng-template>
            <ng-template class="popup" contextMenuItem (execute)="rightClick($event, 'Watch', dev)">
              Watch PR. Get an alert when a PR is submitted.
            </ng-template>
          </context-menu>
        </div>

        <img
          *ngIf="dev.bWatch"
          title="Someone is watching your Git PR. Right click to subscribe to anyone."
          src="../../assets/watch2.png"
          (click)="showWatch(dev)"
          style="height:20px; width:20px; border-radius: 50%;  margin-right: 5px;margin-left: 5px; margin-top: 10px;   cursor: pointer;"
        />
        <img
          *ngIf="dev.bKudos"
          title="Received Kudoes. Click to see it. Right click to send a Kudos"
          src="../../assets/prize.png"
          (click)="showKudos(dev)"
          style="height:20px; width:20px;  border-radius: 50%; margin-right: 5px;margin-left: 5px; margin-top: 10px;   cursor: pointer;"
        />
      </div>
    </div>
  </div>
</div>
