<div class="Outer">
    <div class="inner">
      <img src="../../assets/Gator-Logo.svg" style="width:150px; height: 150px;" />
    </div>
    <div class="inner" style="color: ghostwhite;  font-size: xx-large">Welcome to Git Gator</div>
    <p></p>
    <p></p>
    <p></p>
    <div class="inner">
      <div class="brn-btn"></div>
      <div style="    font-size: larger;">
      Thanks for Signing up!</div>
    </div>
    <div class="inner">
    </div>
    <div class="inner">
      <a (click)="Go()" class="btn-more btn"> Login </a>
    </div>
    <p></p>
  </div>
  