<div class="admin-style">
  <!-- <p-toast position="top-middle"></p-toast> -->
  <p-messages [(value)]="alertmsgs"></p-messages>
  <div class="col-continer">
    <div
      style="font-size: large;padding-bottom: 20px; margin-bottom: 10px;"
      style="padding-bottom: 20px;
      font-size: x-large;
  color:rgb(187, 201, 207)"
    ></div>
    <div class="row-container">
      <div class="listbox">
        <div
          *ngFor="let ur of allUsers; let i = index"
          style="margin-bottom: 5px; color:blanchedalmond"
          (click)="getUserids(ur)"
          title="Double click to move the user to admnin role"
        >
          {{ ur.UserDisplayName }}
        </div>
      </div>
      <div class="col-continer" style="margin-left: 50px;">
        <div style="margin-bottom: 30px;">
          <label style="width: 200px;color:blanchedalmond">{{ selectedUserName }} </label>
        </div>
        <div style="margin-bottom: 30px;">
          <label style="width: 200px;color:rgb(187, 201, 207)"> Git User Name: </label> <input style="color:black" type="text" [(ngModel)]="gitUserName" />
        </div>
        <div style="margin-bottom: 30px;">
          <label style="width: 200px;color:rgb(187, 201, 207)"> Jira User Name: </label> <input style="color:black" type="text" [(ngModel)]="jiraUserName" />
        </div>
        <div style="margin-bottom: 30px;">
          <label style="width: 200px;color:rgb(187, 201, 207)"> TFS User Name: </label> <input style="color:black" type="text" [(ngModel)]="tfsUserName" />
        </div>
        <div style="margin-bottom: 30px;">
          <button class="buttons-style" style="width: 90px; height: 50px; background-color: plum; " (click)="save()">Save</button>
        </div>
      </div>
    </div>
    <!-- <div class="col-continer" style="margin-top: 30px;">
        <button id="m1-btn" class="buttons-style" (click)="save()" title="Save">Save</button>
      </div> -->
  </div>
</div>
