<div class="Outer">
  <div class="inner">
    <img src="../../assets/DS.svg" style="width:150px; height: 150px;" />
  </div>
  <div class="inner" style="color: ghostwhite;  font-size: xx-large">Welcome to Dev Star</div>
  <p></p>
  <p></p>
  <p></p>
  <div class="inner">
    <div class="brn-btn"></div>
    <div style="    font-size: larger;">
      https://Dev-Star.com/ <input type="text" style="color:black; height: 25px;width:200px" [(ngModel)]="tenantName" placeholder="Your tenant name" (keydown.enter)="Go()" />
    </div>
  </div>

  <div class="inner">
    <div style="color:rgb(29, 233, 233)">{{ message }}</div>
    <div style="color:rgb(197, 22, 191)">{{ errorMessage }}</div>
  </div>
  <div class="inner">
    <a (click)="Go()" class="btn-more btn"> Login </a>
  </div>
  <p></p>
</div>
