#flex-column-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 90%;
    justify-content: left;
}

#flex-row-container {
    display: flex;
    flex-direction: row;
    margin: 5px auto;
    width: 100%;
    height: 100%;
    background-color: rgb(20, 20, 20);
}
.flex-item {
    margin: 5px;
    width: 300px;
    height: 100%;
    display: flexbox;
    font-size: 30px; 
}

/* Adjustment for top-nav */
.content-area {
    width: 100%;
}

/* HACKS, REMOVE LATER */
:host ::ng-deep .tenant-logo {
    //height:51px !important;
}

:host ::ng-deep .tenant-logo-icon {
    //display: none !important; 
}

:host ::ng-deep .top {
    padding-top: 61px;
}

:host ::ng-deep .inner-tenant-icon, :host ::ng-deep .add-tenant-icon {
    border-radius: 0 !important;
}

:host ::ng-deep sc-top-nav .logout-icon {
    display: none !important;
} 

.gator-logo {
    position: absolute;
    top: 7px;
    left: 8px;
}

:host ::ng-deep .tenant-item:nth-child(1) .inner-tenant-icon {
    background: #01A9DB !important;
}

:host ::ng-deep .tenant-item:nth-child(2) .inner-tenant-icon {
    background: #74DF00 !important;
}

:host ::ng-deep .tenant-item:nth-child(3) .inner-tenant-icon {
    background: #DBA901 !important;
}

:host ::ng-deep .tenant-item:nth-child(4) .inner-tenant-icon {
    background: #FF4000 !important;
}

:host ::ng-deep .tenant-item:nth-child(5) .inner-tenant-icon {
    background: #0404B4 !important;
}

:host ::ng-deep .tenant-item:nth-child(6) .inner-tenant-icon {
    background: #01A9DB !important;
}

:host ::ng-deep .tenant-item:nth-child(7) .inner-tenant-icon {
    background: #74DF00 !important;
}

:host ::ng-deep .tenant-item:nth-child(8) .inner-tenant-icon {
    background: #DBA901 !important;
}
