<div class="flex-column-container">
  <div class="flex-row-container">
    <div class="count-style">
      <!-- <app-pull-request-count></app-pull-request-count> -->
      <app-ic-counts></app-ic-counts>
    </div>
    <div class="flex-item-firstRow">
      <app-breakingnews></app-breakingnews>
    </div>
  </div>
  <div class="flex-row-container">
    <div class="flex-item" [hidden]="isShowOD">
      <app-top-developers></app-top-developers>
    </div>
    <div class="flex-item" [hidden]="isShowOD">
      <app-top-repository></app-top-repository>
    </div>
    <div class="flex-item" [hidden]="!isShowOD" style="font-size: large; color:gainsboro">
      <app-org-details></app-org-details>
    </div>
    <div style="display: flex; flex-direction:column;  width: 100%;justify-content: flex-start; align-items: top;">
      <div
        style="flex:1;
      padding-left: 10px; background-color: #232329;"
      >
        <div style="float: left; height: 45px;display:flex; flex-direction: row; ">
          <button class="button-style" style="color:rgb(158, 92, 54)" (click)="gitData()">Git</button>
          <button class="button-style separator">|</button>
          <button class="button-style" style="color:rgb(61, 109, 128)" (click)="jiraData()">Jira</button>
          <!-- <button class="button-style separator">|</button>
          <button class="button-style">TFS</button>
          <button class="button-style separator">|</button>
          <button class="button-style">BitBucket</button> -->
        </div>
      </div>
      <div style="display: flex; flex-direction: column">
        <div class="flex-detail-item" [hidden]="!isShowDetail">
          <app-dev-pull-details></app-dev-pull-details>
        </div>
        <div class="flex-detail-item" [hidden]="!isJiraShowDetail">
          <app-dev-jira-details></app-dev-jira-details>
        </div>
      </div>
    </div>
  </div>
</div>
