<div style=" color: white; width:100%;height:100%; display:flex; flex-direction:column; align-content: center">
  <div name="TopMenu" style="background-color:rgb(39, 120, 202); width:100%;display:flex; flex-direction:row;justify-content: center;"></div>
  <div name="wrapper" style="background-color:black; width:100%; height: 100%;  display:flex;flex-direction: row">
    <app-org-list #orgList
      [currentOrg]="menu.selectedSection">
      <sc-fit-window #fitWindow></sc-fit-window>
      <left-nav 
        [selectedSection]="menu.selectedSection"
        (sectionChange)="changeSection($event)"
        [height]="fitWindow.state.read('height')"
        [sectionItems]="orgList.orgList"
        [menuBackground]="menu.background"
        [leftBar]="menu.leftBar"
        [ui]="menu.ui"
        [logoBackground]="menu.leadBackground"
        [preserveMenu]="menu.preserveMenu"
        [preserveSection]="menu.preserveSection"
        [menuOpen]="menu.menuOpen"
        [displayProfileIcon]="menu.profileIcon"
        [addMessage]="menu.addMessage"
        (clickLogout)="logout()">
      </left-nav>
    </app-org-list>
    <img src= "../assets/Gator-Logo.png" class="gator-logo" />

    <div name="contentarea" class="content-area">
      <sc-top-nav
        [liftedStateBackground]="state.slice('topNav', 'background')"
        [liftedStateIconColor]="state.slice('topNav', 'iconColor')">
      </sc-top-nav>      
      <div id="flex-column-container">
        <div class="flex-item" style="margin-top:12px; height:150px">
          <app-pull-request-count></app-pull-request-count>
        </div>
        <div class="flex-item">
          <div id="flex-row-container">
            <div class="flex-item">
              <app-top-developers></app-top-developers>
            </div>
            <div class="flex-item">
              <app-top-repository></app-top-repository>
            </div>
            <div class="flex-item">
              <app-dev-pull-details></app-dev-pull-details>
            </div>
           
          </div>
        </div>
      </div>
    </div>
    <!-- Content Area-->
  </div>
  <!-- wrapper-->
</div>
