<div>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="https://dev-star.com">Dev <span class="logo-dec">Star</span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class=""><a href="home">Home</a></li>
          <li class=""><a href="about">About</a></li>
          <li class=""><a href="help">Help</a></li>
          <li class="active"><a href="contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="banner-info text-center wow fadeIn delay-05s">
        <div class="gator"></div>
        <!--<h1 class="bnr-title">We are at <span class="logo-dec">Anzio Systems</span></h1>-->

        <h2 class="bnr-sub-title">We’d love to hear from you</h2>
        <p class="bnr-para">
          Whether you have a question about features, trials, pricing, need a demo, or anything else, <br />our team is ready to answer all your questions. Let us know
          <a href="mailto:support@Dev-Star.com" style="color:#E92987"> support@Dev-Star.com </a> <br /><br /><br /><br />
          Address:<br />
          6116 Executive Blvd. Suite 400<br />North Bethesda, MD 20852 <br /><br />

          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3098.567414319149!2d-77.1282327846743!3d39.04798147954776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7cc3809530deb%3A0xa7046a23012f6992!2s6166%20Executive%20Blvd%2C%20North%20Bethesda%2C%20MD%2020852!5e0!3m2!1sen!2sus!4v1586226391080!5m2!1sen!2sus"
            width="300"
            height="225"
            frameborder="0"
            style="border:0;"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe>
          <br />
          email:<br />
          <a href="mailto:support@Dev-Star.com"> support@Dev-Star.com </a> <br /><br />
          Pnone:<br />
          253 973 4297
        </p>

        <!-- <div class="brn-btn">
          <a href="dashboard" class="btn btn-more">Get Started</a>
        </div> -->
        <div class="overlay-detail">
          <a href="#feature"><i class="fa fa-angle-down"></i></a>
        </div>
      </div>
    </div>
  </div>

  <footer id="footer">
    <div class="row text-center">
      <p>Copyright &copy; 2020 Anzio&nbsp;<span style="color: #E92987;">Systems</span>. All Rights Reserved.</p>
      <p><a href="privacy">Privacy Policy</a></p>
    </div>
  </footer>
</div>
