<div>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://anziosystems.azurewebsites.net/">Anzio <span class="logo-dec">System</span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class=""><a href="home">Home</a></li>
          <li class=""><a href="about">About</a></li>
          <li class=""><a href="help">Help</a></li>
          <li class="active"><a href="contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="banner-info text-center wow fadeIn delay-05s">
        <div class="gator"></div>
        <!--<h1 class="bnr-title">We are at <span class="logo-dec">Anzio Systems</span></h1>-->

        <h2 class="bnr-sub-title">We’d love to hear from you</h2>
        <p class="bnr-para">
          Whether you have a question about features, trials, pricing, need a demo, or anything else, <br />our team is ready to answer all your questions.<br /><br />
          Address:<br />

          1700 Rockville Pike<br />Rockville, MD 20852 <br /><br />

          email:<br />
          <a href="mailto:rafat@anziosystems.com"> rafat@anziosystems.com </a> <br /><br />
          Pnone:<br />
          253 973 4397
        </p>

        <div class="brn-btn">
          <a href="dashboard" class="btn btn-more">Get Started</a>
          <!--<a href="https://gator-ui.azurewebsites.net/login"  target="_blank" class="btn btn-more">Learn More</a>-->
        </div>
        <div class="overlay-detail">
          <a href="#feature"><i class="fa fa-angle-down"></i></a>
        </div>
      </div>
    </div>
  </div>

  <footer id="footer">
    <div class="row text-center">
      <p>Copyright &copy; 2020 Anzio&nbsp;<span style="color: #E92987;">Systems</span>. All Rights Reserved.</p>
    </div>
  </footer>
</div>
