@import '../css/lib';

.flex-column-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1px;
  justify-content: left;
  width: calc (100vw - @leftNavWidth);
  background-color: @Leftbar-background-color;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 1px auto;
  flex: 1;
  width: calc (100vw - @leftNavWidth);
  line-height: 1;
  box-shadow: inset -1px -2px black;
}

// .buttons-style {
//   margin-right: 10px;
//   color: white;
//   border-style: none;
//   box-shadow: 4px 5px 5px 0px #181616;
//   height: 40px;
//   width: 200px;
//   font-size: large;
// }

// .flex-item {
//   padding-left: 5px;
//   padding-top: 5px;
//   padding-bottom: 10px;
//   display: block;
//   font-size: large;
//   color: ghostwhite;
//   align-content: flex-end;
//   cursor: pointer;
// }

// a {
//   background-repeat: no-repeat;
//   background-position: right;
//   padding-right: 5px;
//   padding-left: 5px;
//   display: block;
//   line-height: 20px;
//   text-decoration: none;
//   font-family: Robotto, Georgia, 'Times New Roman', Times, serif;
//   font-size: large;
//   color: White;
// }

ul a:hover {
  color: #fff;
}

ul a {
  background-image: url(../../assets/navi_bg_divider.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  display: block;
  line-height: 35px;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  color: #ca9494;
}
